* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", serif;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  min-height: 499px;
  max-width: 320px;
  border-radius: 20px;
  padding: 16px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.qr-image {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.text {
  text-align: center;
  margin: 0 16px 16px;
}

h1 {
  font-weight: 700;
  line-height: 120%;
  font-size: 22px;
  margin-bottom: 16px;
  color: #1f314f;
}

h2 {
  font-weight: 400;
  line-height: 140%;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #68778d;
}
